# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyo
*.pyd

# Django
*.log
*.pot
*.mo
media/
db.sqlite3

# Virtual Environment
venv/
.env

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db