{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'core:home' %}">
            <div class="bg-primary rounded p-2 me-2">
                <span class="text-white fw-bold">AI</span>
            </div>
            <span class="fs-4 fw-bold text-primary">AI-Solution</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto me-3">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:solutions' %}">Solutions</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:articles' %}">Articles</a>
                </li>
                <li></li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:gallery' %}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:events' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:contact' %}">Contact</a>
                </li>
            </ul>
            <a href="{% url 'admin_login' %}" class="btn btn-outline-primary">Admin Login</a>
        </div>
    </div>
</nav>